.carrossel {
    position: fixed;

    z-index: -1;

    width: 100%;
}

.carrossel .imagem {
    width: 100%;
    height: 100vh;

    object-fit: cover;
}

.carrossel .imagem:not(.ativa) {
    display: none;
}

.sobre-e-botao {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.sobre-e-botao .botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 77px 0 77px;

    position: absolute;

    width: 100%;
    height: 100%;
}

.sobre-e-botao .botoes .seta-esquerda, .seta-direita {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.sobre-e-botao .botoes .seta-esquerda:hover, .seta-direita:hover {
    transform: scale(1.1);
}

.opacidade {
    opacity: 0.5;
}

.sobre-e-botao .sobre-as-imagens {
    z-index: 1;
    
    margin: 150px 0 0 241px;
}

.sobre-e-botao .sobre-as-imagens .descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #fff;

    border-radius: 10px;

    padding: 60px 65px;

    width: 620px;
    height: 700px;    

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.sobre-e-botao .sobre-as-imagens .descricao h2 {
    font-weight: 400;
    font-size: 50px;
}

.sobre-e-botao .sobre-as-imagens .descricao .saiba-mais {
    font-weight: 700;
    font-size: 30px;
}

.sobre-e-botao .sobre-as-imagens .descricao .saiba-mais.vermelho {
    color: #C50000;
}

.sobre-e-botao .sobre-as-imagens .descricao .saiba-mais.amarelo {
    color: #D9DD10;
}

.sobre-e-botao .sobre-as-imagens .descricao .saiba-mais.azul {
    color: #10ACDD;
}

.sobre-e-botao .sobre-as-imagens .descricao .saiba-mais.marrom {
    color: #A63A17;
}

.sobre-e-botao .sobre-as-imagens .descricao:not(.ativa) {
    display: none;
}